### Birthday lore 

Imagine it is your birthday and you post a story saying "feeling blessed üôè". Then Boom! Your DMs get filled with 30 "HBD Brooo üéâüéâüéâ"s. You're grateful, emotional, and even slightly shocked that 30 people cared to reply. This feeling soon drains when you realise you must now run a one-man "Thank you" factory. 
You type and type and type...

In [ ]:
print("Thanks, Neha!")
print("Thanks, Prithvi!")
print("Thanks, Tushar!")
print("Thanks, Roshni!")

# ... in short: you don't feel as blessed anymore

### Loop for the greater good

Equipped with our new tool of loops we feel greatly epowered. No longer do we have to do the same task over and over. 

The next day we see a shopkeeper struggling to calculate the prices of his products after a 30% discount. The discount only applies for products that have a price over 50 Rs. This is the current price of his products: 

```python
prices =[67.9, 57.3, 91.4, 11.4, 23.8, 13.9, 99.9, 26.3, 90.1, 82.3, 77.4, 52.9]

Nested loops explainer: https://www.youtube.com/watch?v=je2hZUyq7IA&t=229s

### üßÆ Multiplication table using nested loops 

Remember your middle school teacher asking you to write down multiplication tables?10 years later you figured out a way to get a code to write it for you. Nested loops allow you to iterate over multiple dimensions, which is very useful in tasks like generating tables, patterns, or processing matrices.

In [7]:
for i in range(10):
    for j in range(10):
        print(i+1,"*",j+1,"=",(i+1)*(j+1))
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

### Answer:

In [6]:
# Multiplication table from 1 to 10 using nested loops

# Outer loop: iterates through numbers 1 to 10
for i in range(1, 11):
    # Inner loop: multiplies i with values from 1 to 10
    for j in range(1, 11):
        # Print product in a formatted way with width 4
        print(f"{i * j:4}", end="")
    # Newline after each row
    print()

   1   2   3   4   5   6   7   8   9  10
   2   4   6   8  10  12  14  16  18  20
   3   6   9  12  15  18  21  24  27  30
   4   8  12  16  20  24  28  32  36  40
   5  10  15  20  25  30  35  40  45  50
   6  12  18  24  30  36  42  48  54  60
   7  14  21  28  35  42  49  56  63  70
   8  16  24  32  40  48  56  64  72  80
   9  18  27  36  45  54  63  72  81  90
  10  20  30  40  50  60  70  80  90 100

### Pattern using nested loops

### Pattern 1

```text
*
* *
* * *
* * * *
* * * * *

key concept: depending condition of an inner loop on an outer loop variable

### Answer

In [7]:
# Right-angled triangle pattern
rows = 5
for i in range(1, rows + 1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

### Pattern 2

``` text

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Answer

In [ ]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

### Your turn: Pattern 3
``` text
1
2 2
3 3 3
4 4 4 4 
5 5 5 5 5

key concept: know the structure of a pattern and know what you are printing

### Answer

In [ ]:
rows = 5
for i in range(1, rows + 1):
    for j in range(i):
        print(i, end=" ")
    print()

### Your turn: Pattern 4

```text 
1 2 3 4 5 
1 2 3 4
1 2 3 
1 2 
1

### Answer

In [8]:
rows = 5
for i in range(rows, 0, -1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1